@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
    text-align: center;
    position:relative;
    margin:0;
}
#playMusic{
    position:absolute;
    width:2vw;
    top:0;
    left:0;
}
#startPage{
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:10;
    background-color:#D4F0F7;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameTitle{
    font-size: 100px;
    font-family: 'Bangers', cursive;
    animation: 2s rightToLeft ease-out 1;   
}
#gameTitle span{
    position:relative;
    display: inline-block;
    animation: 1s waivy infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes waivy {
    10%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

#startButton{
    text-transform: uppercase;
    background-image: linear-gradient(
         -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    color:white;
    border-radius: 10px;
    cursor:pointer;
}
#startButton:hover{
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}
#hangMan{
    width:30vw;
    height:30vw;
    background-color: skyblue;
    margin:0 auto;
    position:relative;
}
#hanger{
    height:28vw;
    width:auto;
    position:absolute;
    left:4vw;
    display:none;
}
#rope{
    height:3vw;
    width:3vw;
    position:absolute;
    left:15vw;
    top:2.5vh;
    display:none;
}
#face, #body, #larm, #rarm, #lleg, #rleg{
    height:7vw;
    width:auto;
    position:absolute;
    display:none;
}
#face{
    left:14vw;
    top:3vw;
}
#body{
    left:15.5vw;
    top:8vw;
}
#larm{
    left:12vw;
    top:7vw;
}
#rarm{
    left:15vw;
    top:7vw;
}
#lleg{
    left:13.5vw;
    top:12vw;
}
#rleg{
    left:15vw;
    top:12vw;
}

#underlines{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    margin: 3vh auto;
}
.underline{
    display:flex;
    width:5vw;
    height:30px;
    border-bottom: 5px red solid;
    margin-right:5px;
    justify-content: center;
}
#alphabets{
    display:flex;
    flex-direction: row;
}
.alphabet{
    width:5vw;
    height:5vw;
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
